<div class="body">
  <header>
    <h1 class="website-title">ModernMedia Analyzer</h1>
  </header>
  <div class="content">
    <div class="search">
      <input class="search-bar" placeholder="type something to search...">
      <button class="search-button"><img src="./assets/search.png" alt=""></button>
    </div>
    <div class="search-source">
      <h1>Source</h1>
      <select name="" id="">
        <option value="1">Example 1</option>
        <option value="2">Example 2</option>
        <option value="3">Example 3</option>
      </select>
    </div>
    <div class="standard-block">
      <h1>Trends Chart</h1>
      <img class="diagram" src="/assets/diag.png" alt="">
    </div>
    <div class="standard-block">
      <h1 class="news-h1">News</h1>
      <div class="news-block">
        <div class="news-column">
          <div class="news-article">
            <div class="article-main">
              <h1>Честь і відповідальність»: Залужний зробив заяву після звільнення та  отримання звання Героя</h1>
              <img src="./assets/ex.png" alt="">
              <p>Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
              Залужний наголосив, що «для нього велика честь отримати звання Героя України».</p>
            </div>
            <div class="article-footer">
              <a href="https://www.radiosvoboda.org/a/news-zaluzhnyy-zsu-heroy-ukrayiny/32812842.html">Радіо Свобода</a>
              <div class="article-sign">
                <p>Без автора</p>
                <p>09 лютого 2024 р. 21:49</p>
              </div>
            </div>
          </div>
          <div class="news-article">
            <div class="article-main">
              <h1>Честь і відповідальність»: Залужний зробив заяву після звільнення та  отримання звання Героя</h1>
              <img src="./assets/ex.png" alt="">
              <p>Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
              Залужний наголосив, що «для нього велика честь отримати звання Героя України».Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
              Залужний наголосив, що «для нього велика честь отримати звання Героя України».</p>
            </div>
            <div class="article-footer">
              <a href="https://www.radiosvoboda.org/a/news-zaluzhnyy-zsu-heroy-ukrayiny/32812842.html">Радіо Свобода</a>
              <div class="article-sign">
                <p>Без автора</p>
                <p>09 лютого 2024 р. 21:49</p>
              </div>
            </div>
          </div>
        </div>
      <div class="news-column">
        <div class="news-article">
          <div class="article-main">
            <h1>Честь і відповідальність»: Залужний зробив заяву після звільнення та  отримання звання Героя</h1>
            <img src="./assets/ex.png" alt="">
            <p>Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
            Залужний наголосив, що «для нього велика честь отримати звання Героя України».Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
            Залужний наголосив, що «для нього велика честь отримати звання Героя України».Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
            Залужний наголосив, що «для нього велика честь отримати звання Героя України».</p>
          </div>
          <div class="article-footer">
            <a href="https://www.radiosvoboda.org/a/news-zaluzhnyy-zsu-heroy-ukrayiny/32812842.html">Радіо Свобода</a>
            <div class="article-sign">
              <p>Без автора</p>
              <p>09 лютого 2024 р. 21:49</p>
            </div>
          </div>
        </div>
        <div class="news-article">
          <div class="article-main">
            <h1>Честь і відповідальність»: Залужний зробив заяву після звільнення та  отримання звання Героя</h1>
            <img src="./assets/ex.png" alt="">
            <p>Валерій Залужний зробив першу заяву після звільнення з посади головнокомандувача Збройних сил та отримання звання Героя України.
            Залужний наголосив, що «для нього велика честь отримати звання Героя України».</p>
          </div>
          <div class="article-footer">
            <a href="https://www.radiosvoboda.org/a/news-zaluzhnyy-zsu-heroy-ukrayiny/32812842.html">Радіо Свобода</a>
            <div class="article-sign">
              <p>Без автора</p>
              <p>09 лютого 2024 р. 21:49</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>